:root {
    --primary: #1A4A8C;
    --secondary: #d8e4ff;
    --text: #000;
    --focus1: #FFFFE4;
    --focus: #ffcc00;
}

* {
    box-sizing: border-box;
    letter-spacing: .12rem;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    color: var(--text);
    margin: 0;
    line-height: 1.5;
}

.skip-links {
    position: absolute;
    left: -999px;
    top: -999px;
}

.skip-links a:focus-visible {
    position: static;
    background: var(--focus);
    padding: 10px;
    z-index: 999;
}

#login:focus-visible {
  outline: 3px dashed var(--focus);
  outline-offset: 4px;
}

.top-bar {
    background: var(--primary);
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 1.5em;
    margin: 0;
}

.alerta {
    text-align: center;
    padding: 10px;
    background: #fff3cd;
    border-bottom: 1px solid #ffec99;
}

.alerta strong{
    color: #d10000;
}
.alerta p{
    display: inline;
}

.system-nav{
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.system-nav h2{
   margin: auto;
   text-align: center;
}

.system-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.system-nav a.atual{
    background: var(--focus1);
}

.system-nav a {
    display: block;
    padding: 10px 15px;
    background: var(--secondary);
    color: var(--text);
    border: 2px solid var(--primary);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}



fieldset p a:hover,
fieldset p a:focus-visible,
.system-nav a:focus-visible,
.system-nav a:hover {
    background: #dce7fb;
    outline: 3px solid var(--focus); }

.register-nav
{
    margin: 20px 0;
}

.register-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.register-nav ul li a{
    text-decoration: none;
    padding: .5em 1em;
    border: 2px solid var(--primary);
    border-radius: 4px;
    color: var(--text);
    transition: .3s ease;
}

.register-nav ul li a:focus-visible,
.register-nav ul li a:hover{
    color: var(--secondary);
    background: var(--primary);
    transition: .3s ease;
    outline: 3px solid var(--focus);
}

.form-container {
    max-width: 350px;
    margin: auto;
    margin-block: 40px;
    background: #fff;
    border: 2px solid var(--primary);
    padding: 20px;
    border-radius: 6px;
}



fieldset p{
    text-align: center;
    font-weight: 600;
}
fieldset p a{
    text-decoration: none;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 2px solid var(--primary);
    border-radius: 4px;
}

input:focus-visible{
    outline: 3px solid var(--focus);
}

button {
    margin-top: 16px;
    width: 100%;
    padding: 10px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:focus-visible,
button:hover {
    outline: 3px solid var(--focus);
}

footer {
    margin-top: 40px;
    text-align: center;
    background: var(--secondary);
    padding: 15px 10px;
}

/* Responsividade */

@media (max-width:700px) { h1{ font-size: 1em; } }

@media (max-width:410px) {

    .alerta { font-size: .8em; }

    .form-container {
        max-width: 300px;
        margin-block: 33px;
        padding: 10px; }
    
    h2 { margin-block: .5em }

    fieldset p{ margin-block: .5em }
    fieldset p a { 
        border-radius: 4px;
        font-size: .8em;
        transition: 3s ease;
    }

    .system-nav a { font-size: .9em}

    button { font-size: .8rem;} 
    h1 { font-size: .9em; }

}
  
@media (max-width:310px) {

    fieldset {padding-inline: .5em;}
    .form-container {
        max-width: 250px;
        margin-block: 30px;
        padding: 5px; }

  }